body .first .name {
  margin-bottom: 10px;
}

body .input {
  border: solid 1px black;
  box-shadow: 0px -0.5px 1px;
  width: 100%;
  box-sizing: border-box;
}

body .third .allergies .box, body .third .row .phone .box, body .third .row, body .second .row3 .phone .box, body .second .row3, body .second .row2, body .second .row1, body .second .row .name .box, body .second .row, body .first .row .birth .box, body .first .row, body .first .name .box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

body {
  width: 95vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 2.5vw;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body hr {
  border-style: dotted;
}
body h5 {
  padding: 0;
  margin: 0px;
}
body h1 {
  font-size: 22px;
}
body .text p {
  padding: 0px;
  padding-top: 3px;
  margin: 0px;
  font-size: 12px;
}
body .first {
  margin-bottom: 20px;
}
body .first .name {
  width: 50%;
}
body .first .name .box .pack1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  width: 30%;
  height: auto;
}
body .first .name .box .pack2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  width: 40%;
  height: auto;
}
body .first .row .gender {
  width: 50%;
}
body .first .row .gender select {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  width: 90%;
  height: auto;
}
body .first .row .birth {
  width: 50%;
}
body .first .row .birth .box .pack1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  width: 15%;
  height: auto;
}
body .first .row .birth .box .pack2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  width: 15%;
  height: auto;
}
body .first .row .birth .box .pack3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  width: 30%;
  height: auto;
}
body .first .row .birth .box .separator {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  width: 5%;
  height: auto;
  padding-right: 0;
  margin-right: 0;
}
body .first .row .birth .box img {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  width: 5%;
  height: auto;
}
body .second {
  margin-bottom: 20px;
}
body .second .row .name {
  width: 50%;
}
body .second .row .name .box .pack1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  width: 30%;
  height: auto;
}
body .second .row .name .box .pack2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  width: 40%;
  height: auto;
}
body .second .row .relationship {
  width: 50%;
}
body .second .row .relationship .box .pack1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  width: 100%;
  height: auto;
}
body .second .address h3 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
body .second .address .pack1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  width: 100%;
  height: auto;
}
body .second .row1 {
  justify-content: space-between;
}
body .second .row1 .box {
  width: 49%;
}
body .second .row1 .box .pack2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  width: 100%;
  height: auto;
}
body .second .row2 {
  justify-content: space-between;
}
body .second .row2 .box {
  width: 49%;
}
body .second .row2 .box .pack2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  width: 100%;
  height: auto;
}
body .second .row2 .box .country {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  width: 100%;
  height: auto;
}
body .second .row2 .box .country select {
  width: 100%;
}
body .second .row3 {
  margin-top: 20px;
  justify-content: space-between;
}
body .second .row3 .phone {
  width: 49%;
}
body .second .row3 .phone .box .pack1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  width: 10%;
  height: auto;
}
body .second .row3 .phone .box .pack2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  width: 15%;
  height: auto;
}
body .second .row3 .phone .box .separator {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  width: 5%;
  height: auto;
  padding-right: 0;
  margin-right: 0;
}
body .third .row {
  margin-top: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}
body .third .row .box {
  width: 49%;
  margin-bottom: 15px;
}
body .third .row .box .pack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  width: 100%;
  height: auto;
}
body .third .row .phone {
  width: 49%;
}
body .third .row .phone .box {
  width: 100%;
  margin-bottom: 20px;
}
body .third .row .phone .box .pack1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  width: 10%;
  height: auto;
}
body .third .row .phone .box .pack2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  width: 15%;
  height: auto;
}
body .third .row .phone .box .separator {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  width: 5%;
  height: auto;
  padding-right: 0;
  margin-right: 0;
}
body .third .allergies .box {
  margin-bottom: 25px;
}
body .third .allergies .box .pack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  width: 100%;
  height: 150px;
}
body .third .allergies .box .pack .input {
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
